In [ ]:
import pandas as pd
import numpy as np
null_values = pd.Series([1,np.NaN,2,np.NaN,3,4,np.NaN,6])
print(null_values)

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    4.0
6    NaN
7    6.0
dtype: float64

In [ ]:
null_values.isna()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [ ]:
null_values.notna()

0     True
1    False
2     True
3    False
4     True
5     True
6    False
7     True
dtype: bool

In [ ]:
null_values.fillna(method = "ffill")

0    1.0
1    1.0
2    2.0
3    2.0
4    3.0
5    4.0
6    4.0
7    6.0
dtype: float64

In [ ]:
null_values.fillna(method = "bfill")

0    1.0
1    2.0
2    2.0
3    3.0
4    3.0
5    4.0
6    6.0
7    6.0
dtype: float64

In [ ]:
null_values.fillna("Empty")

0      1.0
1    Empty
2      2.0
3    Empty
4      3.0
5      4.0
6    Empty
7      6.0
dtype: object

In [ ]:
null_values.fillna(np.mean(null_values))

0    1.0
1    3.2
2    2.0
3    3.2
4    3.0
5    4.0
6    3.2
7    6.0
dtype: float64

In [ ]:
null_values.interpolate()

0    1.0
1    1.5
2    2.0
3    2.5
4    3.0
5    4.0
6    5.0
7    6.0
dtype: float64

In [27]:
from google.colab import files
uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [28]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['StudentsPerformance.csv']))
print(df)

    gender race/ethnicity parental level of education         lunch  \
0      NaN        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3      NaN        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6      NaN        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72           72.0            NaN
1                completed          69            NaN           88.0
2                     none          90           95.0           93.0
3                     none          47           57.0            NaN
4                     none          76           78.0           75.0
5                     none          71           83.0           78.0
6                completed          88           95.0           92.0
7                     none          40            NaN           39.0
8                completed          64           64.0           67.0
9                     none          38           60.0           50.0
10                    none          58           54.0           52.0
11                    none          40           52.0           43.0
12                    none          65           81.0           73.0
13               completed          78            NaN           70.0
14                    none          50           53.0           58.0
15                    none          69           75.0           78.0
16                    none          88           89.0           86.0
17                    none          18           32.0           28.0
18               completed          46           42.0           46.0

In [29]:
df.isna()
df.notna();
df.isna().sum()
df.fillna({"writing score" : df["writing score"].mean()})
df.fillna({"reading score" : df["reading score"].median()})
df.fillna(method="bfill")
df.interpolate

<bound method DataFrame.interpolate of     gender race/ethnicity parental level of education         lunch  \
0      NaN        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3      NaN        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6      NaN        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72           72.0            NaN
1                completed          69            NaN           88.0
2                     none          90           95.0           93.0
3                     none          47           57.0            NaN
4                     none          76           78.0           75.0
5                     none          71           83.0           78.0
6                completed          88           95.0           92.0
7                     none          40            NaN           39.0
8                completed          64           64.0           67.0
9                     none          38           60.0           50.0
10                    none          58           54.0           52.0
11                    none          40           52.0           43.0
12                    none          65           81.0           73.0
13               completed          78            NaN           70.0
14                    none          50           53.0           58.0
15                    none          69           75.0           78.0
16                    none          88           89.0           86.0
17                    none          18           32.0           28.0
18               completed          46           42.0           46.0  >

In [30]:
df.fillna({"writing score" : df["writing score"].mean()})

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,NaN,group B,bachelor's degree,standard,none,72,72.0,65.647059
1,female,group C,some college,standard,completed,69,NaN,88.000000
2,female,group B,master's degree,standard,none,90,95.0,93.000000
3,NaN,group A,associate's degree,free/reduced,none,47,57.0,65.647059
4,male,group C,some college,standard,none,76,78.0,75.000000
5,female,group B,associate's degree,standard,none,71,83.0,78.000000
6,NaN,group B,some college,standard,completed,88,95.0,92.000000
7,male,group B,some college,free/reduced,none,40,NaN,39.000000
8,male,group D,high school,free/reduced,completed,64,64.0,67.000000
9,female,group B,high school,free/reduced,none,38,60.0,50.000000
10,male,group C,associate's degree,standard,none,58,54.0,52.000000
11,male,group D,associate's degree,standard,none,40,52.0,43.000000
12,female,group B,high school,standard,none,65,81.0,73.000000
13,male,group A,some college,standard,completed,78,NaN,70.000000
14,female,group A,master's degree,standard,none,50,53.0,58.000000
15,female,group C,some high school,standard,none,69,75.0,78.000000
16,male,group C,high school,standard,none,88,89.0,86.000000
17,female,group B,some high school,free/reduced,none,18,32.0,28.000000
18,male,group C,master's degree,free/reduced,completed,46,42.0,46.000000

In [31]:
df.fillna({"reading score" : df["reading score"].median()})

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,NaN,group B,bachelor's degree,standard,none,72,72.0,NaN
1,female,group C,some college,standard,completed,69,68.0,88.0
2,female,group B,master's degree,standard,none,90,95.0,93.0
3,NaN,group A,associate's degree,free/reduced,none,47,57.0,NaN
4,male,group C,some college,standard,none,76,78.0,75.0
5,female,group B,associate's degree,standard,none,71,83.0,78.0
6,NaN,group B,some college,standard,completed,88,95.0,92.0
7,male,group B,some college,free/reduced,none,40,68.0,39.0
8,male,group D,high school,free/reduced,completed,64,64.0,67.0
9,female,group B,high school,free/reduced,none,38,60.0,50.0
10,male,group C,associate's degree,standard,none,58,54.0,52.0
11,male,group D,associate's degree,standard,none,40,52.0,43.0
12,female,group B,high school,standard,none,65,81.0,73.0
13,male,group A,some college,standard,completed,78,68.0,70.0
14,female,group A,master's degree,standard,none,50,53.0,58.0
15,female,group C,some high school,standard,none,69,75.0,78.0
16,male,group C,high school,standard,none,88,89.0,86.0
17,female,group B,some high school,free/reduced,none,18,32.0,28.0
18,male,group C,master's degree,free/reduced,completed,46,42.0,46.0

In [36]:
df.fillna({"reading score" : df["reading score"].median()},inplace=True)
print(df)

    gender race/ethnicity parental level of education         lunch  \
0      NaN        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3      NaN        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6      NaN        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72           72.0            NaN
1                completed          69           68.0           88.0
2                     none          90           95.0           93.0
3                     none          47           57.0            NaN
4                     none          76           78.0           75.0
5                     none          71           83.0           78.0
6                completed          88           95.0           92.0
7                     none          40           68.0           39.0
8                completed          64           64.0           67.0
9                     none          38           60.0           50.0
10                    none          58           54.0           52.0
11                    none          40           52.0           43.0
12                    none          65           81.0           73.0
13               completed          78           68.0           70.0
14                    none          50           53.0           58.0
15                    none          69           75.0           78.0
16                    none          88           89.0           86.0
17                    none          18           32.0           28.0
18               completed          46           42.0           46.0

In [37]:
df.fillna({"writing score" : df["writing score"].mean()},inplace=True)

In [38]:
print(df)

    gender race/ethnicity parental level of education         lunch  \
0      NaN        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3      NaN        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6      NaN        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72           72.0      65.647059
1                completed          69           68.0      88.000000
2                     none          90           95.0      93.000000
3                     none          47           57.0      65.647059
4                     none          76           78.0      75.000000
5                     none          71           83.0      78.000000
6                completed          88           95.0      92.000000
7                     none          40           68.0      39.000000
8                completed          64           64.0      67.000000
9                     none          38           60.0      50.000000
10                    none          58           54.0      52.000000
11                    none          40           52.0      43.000000
12                    none          65           81.0      73.000000
13               completed          78           68.0      70.000000
14                    none          50           53.0      58.000000
15                    none          69           75.0      78.000000
16                    none          88           89.0      86.000000
17                    none          18           32.0      28.000000
18               completed          46           42.0      46.000000

In [40]:
df["gender"].fillna("Male", inplace = True)

In [41]:
print(df)

    gender race/ethnicity parental level of education         lunch  \
0     Male        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     Male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6     Male        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72           72.0      65.647059
1                completed          69           68.0      88.000000
2                     none          90           95.0      93.000000
3                     none          47           57.0      65.647059
4                     none          76           78.0      75.000000
5                     none          71           83.0      78.000000
6                completed          88           95.0      92.000000
7                     none          40           68.0      39.000000
8                completed          64           64.0      67.000000
9                     none          38           60.0      50.000000
10                    none          58           54.0      52.000000
11                    none          40           52.0      43.000000
12                    none          65           81.0      73.000000
13               completed          78           68.0      70.000000
14                    none          50           53.0      58.000000
15                    none          69           75.0      78.000000
16                    none          88           89.0      86.000000
17                    none          18           32.0      28.000000
18               completed          46           42.0      46.000000

In [42]:
df.replace('male','female')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Male,group B,bachelor's degree,standard,none,72,72.0,65.647059
1,female,group C,some college,standard,completed,69,68.0,88.000000
2,female,group B,master's degree,standard,none,90,95.0,93.000000
3,Male,group A,associate's degree,free/reduced,none,47,57.0,65.647059
4,female,group C,some college,standard,none,76,78.0,75.000000
5,female,group B,associate's degree,standard,none,71,83.0,78.000000
6,Male,group B,some college,standard,completed,88,95.0,92.000000
7,female,group B,some college,free/reduced,none,40,68.0,39.000000
8,female,group D,high school,free/reduced,completed,64,64.0,67.000000
9,female,group B,high school,free/reduced,none,38,60.0,50.000000
10,female,group C,associate's degree,standard,none,58,54.0,52.000000
11,female,group D,associate's degree,standard,none,40,52.0,43.000000
12,female,group B,high school,standard,none,65,81.0,73.000000
13,female,group A,some college,standard,completed,78,68.0,70.000000
14,female,group A,master's degree,standard,none,50,53.0,58.000000
15,female,group C,some high school,standard,none,69,75.0,78.000000
16,female,group C,high school,standard,none,88,89.0,86.000000
17,female,group B,some high school,free/reduced,none,18,32.0,28.000000
18,female,group C,master's degree,free/reduced,completed,46,42.0,46.000000